:root {
  color-scheme: light;
  --theme-bg: #fff;
  --theme-text: #000;
  --theme-button-bg: #0c80ff;
  --theme-button-bg-hover: #0c8aff;
  --theme-button-red-bg: #cc2a42;
  --theme-button-red-bg-hover: #bc2a22;
  --theme-button-disabled-border: #999;
  --theme-button-disabled-bg: #ccc;
  --theme-button-disabled-color: #666;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: body;
  src: url('./fonts/IBMPlexSans-Text.otf');
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 95ch;
  line-height: 1.5;
  font:
    18px/28px body,
    sans-serif;
  color: var(--theme-text);
  -webkit-font-feature-settings:
    'kern' 1,
    'liga' 1,
    'calt' 1;
  -moz-font-feature-settings:
    'kern' 1,
    'liga' 1,
    'calt' 1;
  font-feature-settings:
    'kern' 1,
    'liga' 1,
    'calt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  background-color: var(--theme-bg);
}
